<div class="footer-container">
    <div class="footer">
      <div class="resume">
        <a href="Asset/JAGAT JEEVAN.DEV.pdf" download="JAGATJEEVAN.DEV.pdf">
        <button class="resume-button">
          <i class="fa-solid fa-book-open"></i> Resume
        </button>
        </a>
      </div>
      <div class="tagline">
        <h1>Let's Connect & Build Something New!</h1>
      </div>
      <!-- Added decorative line -->
      <div class="decorative-line"></div>
      <div class="socialaccounts">
        <div class="social-item">
          <img src="Asset/images/GitHub.png" alt="GitHub">
          <a href="https://github.com/jagat713" target="_blank">GitHub</a>
        </div>
        <div class="social-item">
          <img src="Asset/images/twitter.png" alt="Twitter">
          <a href="https://x.com/jagat78020?t=R08qNNPDYGejtpmR9u7-lA&s=09" target="_blank">Twitter</a>
        </div>
        <div class="social-item">
          <img src="Asset/images/instagram.png" alt="Instagram" style="width: 2rem;">
          <a href="https://www.instagram.com/beherajagat713/" target="_blank">Instagram</a>
        </div>
        <div class="social-item">
          <img src="Asset/images/mail.png" alt="E-mail">
          <a href="mailto:beherajagat713@gmail.com">E-mail</a>
        </div>
      </div>
    </div>
  </div>
  