<div class="project-container">
    <div class="card">
        <div class="img-container">
            <img src="Asset/images/LeaveManagementSystem.png" alt="Leave Management System Image">
        </div>
        <div class="project-description">
            <h1>Leave Management System</h1>
            <p>
                The Leave Management System is a full-stack application developed using Angular and Spring Boot. It
                enables employees to apply for leaves and allows team leaders or managers to approve or reject leave
                requests. The system includes features like leave balance tracking, role-based access, and a
                user-friendly interface. This project highlights the integration of frontend and backend technologies to
                deliver a seamless experience for managing employee leaves.
            </p>
        </div>
    </div>
</div>