<div class="intro-container">
    <div class="intro">
        <h1>Hello World!</h1>
        <p>
            I’m Jagat, a developer with a strong foundation in Angular, Spring Boot, and Java. 
            I am passionate about exploring new technologies and constantly seek opportunities to grow my skills and knowledge. 
            I love building projects that solve real-world problems and enjoy the process of bringing ideas to life through code. 
            Thank you for visiting my portfolio—let’s create something amazing together!
        </p>
    </div>
    <div class="intro-img-container">
        <!-- <img src="favicon.ico.png" alt="Profile Image"> -->
        <img src="Asset\images\MRC_3750.jpg" alt="Profile Image">
    </div>
</div>
