<div class="navbarContainer">
    <div class="navbar">
        <ul class="navbarlinks">
            <i class="fa-solid fa-house"></i>
            <a href="">home</a>
            <i class="fa-solid fa-code"></i>
            <a href="">projects</a>
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/jagat713">GitHub</a>
            <i class="fa-solid fa-user"></i>
            <a href="">Know me</a>
        </ul>
    </div>
</div>
<app-intro></app-intro>
<app-projects></app-projects>
<app-technologies></app-technologies>
<app-footer></app-footer>