<div class="navbarContainer">
    <div class="navbar">
        <ul class="navbarlinks">
            <i class="fa-solid fa-house"></i>
            <button (click)="displayall()" >Home</button>
            <i class="fa-solid fa-code"></i>
            <button (click)="displayProject()">Projects</button>
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/jagat713" target="_blank">GitHub</a>
            <i class="fa-solid fa-user"></i>
            <button (click)="displayProfile()">Know Me</button>
        </ul>
    </div>
</div>
<app-intro *ngIf="introVisibility"></app-intro>
<app-projects *ngIf="projectVisibility"></app-projects>
<app-technologies></app-technologies>
<app-footer></app-footer>